/*gameStyleSheet*/

.mainDiv {
    height: 620px;
    background-color: rgb(83, 83, 20);
    border: 5px solid red;
}

.container {
    display: flex;
    height: 10px;
}

.container>div {
    /*grow*/
}

.border {
    width: 100%;
    height: 100%;
}


/*image 1*/

#img1 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img1:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("./img/img1.png");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 2*/

#img2 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img2:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("./img/img2.png");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 3*/

#img3 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img3:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("./img/img3.png");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 4*/

#img4 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img4:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 5*/

#img5 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img5:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 6*/

#img6 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img6:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 7*/

#img7 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img7:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 8*/

#img8 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img8:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 9*/

#img9 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img9:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 10*/

#img10 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img10:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 11*/

#img11 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img11:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 12*/

#img12 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img12:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 13*/

#img13 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img13:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 14*/

#img14 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img14:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 15*/

#img15 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img15:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 16*/

#img16 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img16:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 17*/

#img17 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img17:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 18*/

#img18 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img18:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 19*/

#img19 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img19:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 20*/

#img20 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img20:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 21*/

#img21 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img21:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 22*/

#img22 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img22:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 23*/

#img23 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img23:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*image 24*/

#img24 {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#img24:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*bonus*/

#bonus {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 1s;
}

#bonus:hover {
    width: 4.7in;
    height: 1.21in;
    background-image: url("./img/bonus.png");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*tortoise*/

#tortoise {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 30s;
}

#tortoise:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("./img/tortoise.png");
    /* HOVER ON */
    -webkit-transition: 10s;
}


/*The Flash*/

#flash {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    -webkit-transition: 10s;
}

#flash:hover {
    width: 4in;
    height: 1.21in;
    background-image: url("./img/flash.png");
    /* HOVER ON */
    -webkit-transition: 1s;
}


/*Game Over*/

#gameOver {
    background-image: url("./img/back.png");
    width: 4.7in;
    height: 1.21in;
    /* HOVER OFF */
    transition-duration: 200s;
}

#gameOver:hover {
    width: 4.7in;
    height: 1.21in;
    background-image: url("./img/gameOver.png");
    /* HOVER ON */
    -webkit-transition: 1s;
}

.score {
    width: 100px;
    background-color: #e8f5e6;
    border: 5px solid #00990d;
}

.howToPlay {
    width: 800px;
    background-color: #f5ede6;
    border: 5px solid #cfdd0f;
    float: left;
}

.obstacle {
    float: right;
    margin-left: 10px;
}

span {
    color: red;
    font-weight: bolder;
}